.footer {
  min-height: 250px;
  width: 100%;
  margin-top: 200px;
  background-image: url();

  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(https://images.pexels.com/photos/919943/pexels-photo-919943.jpeg);
  background-position-y: -200px;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.destinations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: rgb(212, 187, 187);
  font-size: 1.05em;
  text-align: center;
  column-gap: 30px;
}
.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}
.footerTitle {
  color: white;
  font-size: 1.4em;
}

.destinations * {
  margin: 5px;
}
.contactContent {
  color: rgb(212, 187, 187);
  font-size: 1.3em;
}
.contactContent * {
  margin: 0px 15px 7px 15px;
}

.contactContent .fa-solid {
  margin-right: 20px;
}
/* #contContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
} */

/* .socialContent{
display: grid;
   grid-template-columns: 1fr 1fr;

   
} */
.socialContent * {
  color: rgb(212, 187, 187);
  font-size: 3em;
  margin: 10px;
}
.socialContent a,
.socialContent i {
  font-size: 1.7em;
  text-decoration: none;
  transition: color 0.6s;
}
.socialContent a:hover,
.socialContent i:hover {
  color: rgb(255, 255, 255);
}

/* .separator{
    height: 95%;
    width: 1px;
    background-color: rgb(212, 187, 187);
} */

/* #destContainer{
    width: 40%;
}
#contContainer, #socialContainer{
    width: 30%;
} */
.displayed {
  opacity: 1 !important;
  transform: translateY(0);
}
.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  position: relative;
  bottom: 40px;
}
.contactContent,
.destinations,
.socialContent {
  height: 100px;
  position: relative;
  top: 30px;
}

.contactContent .phone,
.contactContent .email {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (max-width: 1000px) {
  .footer {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 70px;
    background-color: #171717;
    background-image: none;
  }
}
