@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --mainBlue: rgb(3, 19, 252);
  --mainBlueTransparent: rgba(3, 19, 252, 0.8);
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
