.pricingMainContainer {
  opacity: 0;
  transition: all 0.6s ease-in;
  transform: translateY(30px);
}

.pricingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 60px;
  max-width: 98vw;
}
.price {
  min-width: 403px !important;
  width: 25% !important;
  min-height: 669px !important;
  border: 1px solid #707070;
  border-radius: 47px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-weight: lighter;
  margin: 0 3vw 0 3vw;
  transition: transform 0.6s;
}
.price:nth-child(2) {
  min-height: 750px !important ;
  min-width: 470px !important ;
  width: 30% !important;
}
.price:hover {
  transform: translateY(-50px);
}

.priceAmount {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.priceHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.priceHeader h2 {
  color: #707070;
  font-weight: 400;
  margin-bottom: 30px;
}
.priceHeader h2 span {
  font-size: 0.5em;
}
.bigAmount,
.smallAmount {
  color: black;
  font-weight: 700;
}
.bigAmount {
  font-size: 3.5em;
}
.smallAmount {
  font-size: 2em;
}
.per {
  font-size: 0.4em;
  color: #707070;
  font-weight: 400;
}
.priceDescription {
  font-weight: 400;
  color: #707070;
}
.benefits {
  margin-top: 50px;
}
.benefits ul {
  list-style: none;
  font-weight: 500;
  color: black;
}
.benefits ul li {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.benefits ul li i {
  margin-right: 11px;
  font-size: 2em;
}
.fa-circle-check {
  color: #097969;
}
.chooseButton {
  width: 200px;
  height: 60px;
  font-size: 2em;
  background-color: white;
  border: 1px solid grey;
  border-radius: 20px;
  transition: all 0.6s;
}
.pricingMainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 200px;
}
.pricingMainHeader {
  font-size: 2em;
  background: -webkit-linear-gradient(45deg, var(--mainBlue) 0%, black 45%, black 55%, var(--mainBlue) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: 'Poppins', sans-serif;
}
.chooseButton:hover {
  background-color: var(--mainBlue);
  color: white;
  cursor: pointer;
}
@media only screen and (max-width: 1540px) {
  .price {
    margin: 0 20px 0 20px;
    width: 15% !important;
  }

  .price:nth-child(2) {
    min-height: 750px !important ;
    min-width: 470px !important ;
    width: 20% !important;
  }
}

@media only screen and (max-width: 1380px) {
  .pricingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
  }
}
@media only screen and (max-width: 600px) {
  .pricingContainer {
    max-width: 90%;
  }
  .price {
    width: 90% !important;
  }
  body,
  container {
    overflow-x: hidden;
  }
}
